.prose
    %h2 Recent Blog Posts

    #blog_posts
        -@blog_posts.each do |post|
            =link_to post, class: 'blog_post' do
                %h3= post.title
                .content= truncate strip_tags(post.content), length:200
                .read-more Read More
