#blog_post
    %h2= @blog_post.title
    .date Written on #{@blog_post.created_at.strftime("%A %b #{@blog_post.created_at.day.ordinalize} %Y")}
    .content
        =raw @blog_post.content
        
    %h2 Comments
    =render "blog_comments/new", blog_post: @blog_post
        
    .comments
        -if(@blog_post.comments.size > 0)
            =render partial: "blog_comments/comment", collection: @blog_post.comments
        -else
            .no_comments No-one has posted a comment yet. Be the first!
        