#blog_post{itemscope:'', itemtype:'http://schema.org/BlogPosting'}
    %h2{itemprop:'name headline'}= @blog_post.title
    .byline
        Written by 
        %span{itemprop:'author', itemscope:'', itemtype:'http://schema.org/Person'}
            %span{itemprop:'name'}
                %a{href:"https://plus.google.com/111007558771439626078", rel:'author', itemprop:'url'} Jeremy Walker
        on 
        %time{itemprop:'datePublished', datetime: @blog_post.published_at.strftime("%FT%R")}= @blog_post.published_at.strftime("%A %b #{@blog_post.created_at.day.ordinalize} %Y")
    .content{itemprop:'articleBody'}
        =raw @blog_post.content
        
    %h2 Share This Post
    =render "shared/social_links"
        
    %h2 Comments
    .comments
        -if(@blog_post.comments.size > 0)
            =render partial: "blog_comments/comment", collection: @blog_post.comments
        -else
            .no_comments No-one has posted a comment yet. Be the first!
        
    =render "blog_comments/new", blog_post: @blog_post