.social_links
    %span.st_twitter_hcount{displayText:'Tweet'}
    %span.st_facebook_hcount{displayText:'Facebook'}
    %span.st_reddit_hcount{displayText:'Reddit'}
    %span.st_digg_hcount{displayText:'Digg'}
    %span.st_plusone_hcount{displayText:'Google +1'}