%p I am a 28 year old self-employed software developer, splitting my time between running my own company and working as Technical Director for Meducation. I’m getting increasingly involved in the Open Source community and you can find me on GitHub and RubyGems. I have contributed to Rails, Foreigner, HAML, and manage super_sti and belongs_to_enum.
%p I live in Birmingham, UK and shun an office in favour of working out of various Starbucks. I am married to the beautiful Liz and am surrounded by amazing friends. I used to play Ultimate Frisbee, and was president of them University of Birmingham team and played UTB (Ultimate Team Birmingham), captaining them in 2005 in the A tour. I now play football 3/4 times a week.
%p I hope you find this blog enjoyable and useful. If you want even more, you can follow me on Twitter @iHiD.

