%h3 Status
%p This gem currently collects information but doesn't yet display it. That functionality will be added in the next week or two. All data will be saved and be available for viewing then.

%h3 Installation
%p To use in Rails, simply add this to your Gemfile:
%pre 
    %code gem "email_tracker"
    
%p The run the migrations:
%pre 
    %code 
        rake email_tracker:install:migrations
        rake rake:db:migrate

%h3 Example Usage
%p The gem requires nothing post-installation. All emails will have an embedded tracking image and all links will be tracked.
            
%h3 Contributing
%p Please feel free to fork and modify this code!