%h2 My Project
%p I try and contribute to open source projects wherever possible.
%p These are open source projects that I've written and are mature enough for production use. You can find the source code for all of these and many other projects on #{link_to "Github", "https://github.com/iHiD"}.
#projects
    %ul
        -@projects.each do |project|
            %li= link_to project.name, project