%h3 Installation
%p Use in a Bundler app. Add to bundler:
%pre 
    %code gem "national_rail"

%h3 Example Usage
%p The gem is extremely simple to use. There are two class methods that return the next departures or arrivals from a station.

%pre 
    %code{class:"ruby"}
        :plain
            NationalRail::Timetable.departures(token, "BHM")
            # => [{"origin":"Longbridge","origin_crs":"LOB","destination":"Four Oaks","destination_crs":"FOK","time":"14:45"},{"origin":"Wolverhampton","origin_crs":"WVH","destination":"Walsall","destination_crs":"WSL","time":"14:47"},...]

            NationalRail::Timetable.arrivals(token, "BHM")
            # => [{"origin":"Longbridge","origin_crs":"LOB","destination":"Four Oaks","destination_crs":"FOK","time":"14:42"},{"origin":"Wolverhampton","origin_crs":"WVH","destination":"Walsall","destination_crs":"WSL","time":"14:44"},...]            

%h4 Wrap it in Sinatra
I've used this in a simple Sinatra app. It's easy:

%pre 
    %code{class:"ruby"}
        :plain
            require 'sinatra'
            require 'national_rail'
            require 'json'

            get '/departures/:crs' do
              NationalRail::Timetable.departures('...', params[:crs]).to_json
            end
            get '/arrivals/:crs' do
              NationalRail::Timetable.arrivals('...', params[:crs]).to_json
            end
            
%h3 Contributing
%p Please feel free to fork and modify this code. 