%h3 Installation
%p Use in Rails 3 app. Add to bundler:
%pre 
    %code gem "super_sti"

%h3 Example Usage
%p The gem is extremely simple to use. Add a new database table and let Rails know that you want to use it.
%p In this example BankAccount and CreditCard are two classes that inherit from Account using Rails STI.

%h4 Database
%p Add a table with the name of "\#{class_name}_data" with any extra columns that are needed.
%pre 
    %code{class:"ruby"}
        :plain
            create_table :accounts do |t|
              t.float :balance, null:false, default:0
            end

            create_table :bank_account_data do |t|
              t.integer :bank_account_id, :null => false
              t.integer :bank_id, :null => false
              t.string :account_number, :null => false
              t.string :sort_code, :null => false
            end

            create_table :credit_card_data do |t|
              t.integer :credit_card_id, :null => false
              t.string :credit_card_number, :null => false
              t.date :expiry_date, :null => false
            end

            create_table :banks do |t|
              t.string :name, :null => false
            end
            
%h4 Classes
%p Simple add a has_extra_data method to your classes, with any associations inside the block.
%pre 
    %code{class:"ruby"}
        :plain
            class Account < ActiveRecord::Base
            end

            class BankAccount < Account
              has_extra_data do
                belongs_to :bank
              end
            end

            class CreditCard < Account
              has_extra_data
            end

            class Bank < ActiveRecord::Base
              has_one :bank_account
            end
    
%h4 Sample Application:
%pre
    %code{class:'ruby'}
        :plain
            Account.each do |account|
              p account.balance
            end

            BankAccount.each do |bank_account|
              p bank_account.balance
              p bank_account.bank.name
            end
    
%h3 Contributing
%p Please feel free to fork and modify this code. 
%p The project uses rspec for testing. Tests can be run tests with 
%pre 
    %code rspec spec/*

%h3 Todo
%ul 
    %li Automatically load extra data class with main class.
    %li Automatically load associations in main class.
    %li Automatically pass attributes through to main class.

