%h3 Want to see an example Rails app?
%p I work hard to keep the code to this website clean and readable so people can learn from it.
%p This is my Gemfile. If you want to see any of the following technologies in action, this is a good place to start:

%pre
    %code.ruby
        :plain

            gem 'rails'
            gem 'haml'
            gem 'friendly_id'
            gem 'foreigner', :git => 'git://github.com/matthuhiggins/foreigner.git'
            gem 'paperclip'
            gem 'aws-sdk'
            gem "remotipart"

            group :assets do
              gem 'sass-rails'
              gem 'coffee-rails'
              gem 'therubyracer'
              gem 'uglifier'
            end

            group :test, :development do
              gem 'rspec-rails'
              gem "capybara"
              gem 'capybara-webkit'
              gem 'sqlite3', :platform => [:ruby]
            end

            gem 'jquery-rails'

            group :production do 
              gem "pg"
              gem 'thin'
            end
            
%h3 Have a play!
%p Head to #{link_to "Github", "https://github.com/ihid/website"} to read the source code. Feel free to fork and experiment.