// Place all the styles related to the admin/blog_posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#admin 
{
    .admin_blog_post_info {
        background:$color_2;
        padding:10px;
        margin-bottom:20px;
        h3 {
            margin-top:0px;
        }
    }
}