@import "normalize.css.scss";
@import "variables.css.scss";

body {
    font-size:13pt;
    margin:0px;
    background:$color_3;
}
a {
    color:$color_1;
    text-decoration:none;
    font-weight:400;
}
h2, h3, h4, h5 {
    text-shadow: 0px 1px 1px #ccc;
    font-weight:300;
}

ul {
    margin-top:10px;
}

strong {
    font-weight:normal;
}

header .inner, #main, footer {
    width:$width;
    margin:0px auto;
}

header {
    background:$color_1;
    color:#fff;
    .inner {
        position:relative;
        #header_image {
            border:5px solid $color_3;
            width:210px;
            height:210px;
            position:absolute;
            right:-5px;
            top:20px;
        }
    }
    h1 {
        margin:0px;
        padding:10px 0px 0px 0px;
        a {
            font-size:80px;
            font-weight:300;
            color:#fff;
            display:inline-block;
        }
        span {
          font-size:20px;
          color:#fff;
          font-weight:300;
          display:inline-block;
        }
    }
    h2 {
        margin:0px;
        padding:0px 0px 10px 0px;
        a {
          font-size:25px;
          color:#fff;
          font-weight:300;
        }
    }

}

#header_shadow {
    height:6px;
    background: -webkit-linear-gradient(top, $color_1, $color_3);
}
#main {
    nav {
        float:right;
        width:$nav_width;
        padding:0px;
        text-align:right;
        border-left:$nav_border_width solid $color_2;
        margin-top:85px;
        
        h3 {
            margin-bottom:10px;
            border-bottom:1px solid $color_2;
            padding-left:20px;
            float:right;
            &:first-child {
                margin-top:0px;
            }
        }
        ul {
            clear:both;
            margin:0px;
            padding:0px;
            li {
                padding-bottom:5px;
                
                a.btn {
                    color: white;
                    background: $color_1;
                    padding: 3px 10px;
                    display: inline-block;
                }
            }
        }
    }
    #content {
        float:left;
        width:$content_width;
        padding:$main_padding $main_padding $main_padding 0px;
        h3 {
            margin-bottom:10px;
        }
        h3+p {
            margin-top:10px;
        }
        h3+h4 {
            margin-top:0px;
        }
        h4 {
            margin-bottom:6px;
        }
        h4+p {
            margin-top:6px;
        }
        em {
            font-weight:normal;
        }
        .pre {
            background:#ddd;
            font-family: "droid-sans-mono", monospace, serif;
            font-size: 0.8em;
            padding:2px;
        }
    
        .social_links {
            margin-top:10px;
        }
    }
    h2:first-of-type {
        margin-top:0px;
    }
}
footer {
    clear:both;
    border-top:1px solid $color_2;
    padding:10px 0px;
    
    .powered_by {
        float:right;
    }   
}

@import "blog_comments.css.scss";
@import "blog_posts.css.scss";
@import "pages.css.scss";
@import "projects.css.scss";