/*
 *= require pure-min
 */

@import "mixins";
//@import "buttons";

$site_width: 700px;

*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html {
    @include normal-font;
    font-size: 62.5%;
    letter-spacing: 0;
}

body,
button,
input,
select,
textarea,
.pure-g,
.pure-g-r,
.pure-g-r [class *="pure-u"] {
    @include normal-font;
    @include font-size(1.4);
    color:#302c23;
}

* {
    margin:0;
}

body {
    margin:0;
}

strong {
    @include semibold-font;
}

header {
    padding:20px;
    text-align:center;
    background:image-url('noise.png') #00444c;

    h1 {
        margin:0;
        font-family: "Euphoria Script";
        a {
            text-decoration: none;
        }
        img {
            border-radius:100%;
            border:2px solid rgba(#fff,0.15);
            padding:8px;
            background:rgba(#000, 0.2);
            height:150px;
            display:block;
            margin:0 auto;
        }
        .name {
            color: #fff;
            margin-top: 30px;
            font-size: 50pt;
            font-weight: 100;
            text-shadow: 0px 0px 2px black;
        }
    }

    .tagline {
        @include thin-font;
        color: #fff;
        display:block;
        margin-top: 30px;
        text-decoration: none;
        font-size: 15pt;
        font-weight: 100;
        text-shadow: 0px 0px 2px black;
    }
}

nav {
    background:#006670;
    .container {
        max-width: $site_width;
        margin:0px auto;
        a {
            display:inline-block;
            width:16%;
            padding:15px 0;
            color:#fff;
            text-decoration:none;
            text-align:center;
            @include thin-font;
            @include font-size(1.4);
            &:hover {
                background:#ff6264;
            }
        }
    }
}
body.fixed-nav {
    nav {
        position:fixed;
        width:100%;
        top:0;
        left:0;
        box-shadow: 0 0px 20px 20px white;
    }
    main {
        margin-top:49px;
    }
}

main {
    max-width:$site_width;
    margin:0 auto;
    padding:40px 20px;
    .prose {
        h2 {
            @include font-size(3, 3);
            margin:0 0 20px 0;
        }
        h3 {
            @include font-size(2, 2);
            margin:35px 0 10px 0;
        }
        h2+h3 {
            margin-top:0;
        }
        p {
            @include font-size(1.6, 2.2);
            margin-bottom: 1.5rem;
        }

        ul {
            margin-bottom:1.5rem;
            li {
                @include font-size(1.6);
                margin-bottom:0.7rem;
            }
        }
        a {
            color:#006670;
            @include semibold-font;
            &:visited {
                color:#006670;
            }
        }

        .small {
            @include font-size(1.3, 1.6);
        }
    }
}

footer {
    clear:both;
    overflow:hidden;
    border-top: 1px solid rgba(#006670, 0.2);
    @include font-size(1.4, 1.4);

    .container {
        width:$site_width;
        padding:20px;
        margin: 0 auto;
    }
    .powered_by {
        float:right;
    }
}

#blog_posts {
    .blog_post {
        @include normal-font;
        text-decoration:none;
        color:#302c23;
        h3 {
            @include normal-font;
            color:#006670;
        }
        .read-more {
            color:#006670;
            @include semibold-font;
            text-decoration:underline;
            margin-top:5px;
        }
    }
}

iframe.twitter-timeline {
    width:$site_width !important;
    max-width:$site_width !important;
    margin-top:20px;
}

#blog_post {
    h2 {
        margin-bottom:10px;
    }
    h3 {
        @include semibold-font;
        margin-bottom:10px;
    }
    .byline {
        margin-bottom:20px;
    }
    .comment {
        h4 {
            @include semibold-font;
            @include font-size(1.8, 1.8);
            margin-bottom:5px;
        }
        .date {
            @include font-size(1.3, 1.3);
        }
    }
}

.social_links {
    margin-bottom:20px;
    *, *:before, *:after { -moz-box-sizing: content-box; -webkit-box-sizing: contencontent-box; box-sizing: content-box; }
}





@import "blog_comments.css.scss";


/*
@import "normalize.css.scss";
@import '../../../vendor/assets/stylesheets/foundation.css.scss';
@import "variables.css.scss";


html,
body,
button,
input,
select,
textarea {
    font-family: $font-family, calibri;
    font-weight:300;
}

pre,
code,
kbd,
samp {
    font-family: "droid-sans-mono", monospace, serif;
    _font-family: "droid-sans-mono", 'courier new', monospace;
    font-size: 0.9em;
}
body {
    font-size:14pt;
    line-height:28px;
    margin:0px;
    background:$color_3;
}
.row {
    max-width:1000px;
}

a {
    color:$color_1;
    text-decoration:none;
    font-weight:400;
}
h2, h3, h4, h5 {
    text-shadow: 0px 1px 1px #ccc;
    font-weight:300;
}

ul {
    margin-top:10px;
}

strong {
    font-weight:normal;
}

header {
    background:$color_1;
    color:#fff;
    .row {
        position:relative;
        padding:0px $main_padding;
        #header_image {
            border:5px solid $color_3;
            width:210px;
            height:210px;
            position:absolute;
            right:25px;
            top:20px;
        }
    }
    h1 {
        margin:0px;
        padding:10px 0px 0px 0px;
        a {
            font-size:80px;
            line-height:100px;
            font-weight:300;
            color:#fff;
            display:inline-block;
        }
        span {
          font-size:20px;
          line-height:20px;
          color:#fff;
          font-weight:300;
          display:inline-block;
        }
    }
    h2 {
        margin:0px;
        padding:0px 0px 10px 0px;
        a {
          font-size:25px;
          line-height:40px;
          color:#fff;
          font-weight:300;
        }
    }
}

#main {
    nav {
        padding:0px $main_padding 0px 0px;
        text-align:right;
        border-left:$nav_border_width solid $color_2;
        margin-top:85px;

        h3 {
            margin-bottom:10px;
            border-bottom:1px solid $color_2;
            padding-left:20px;
            float:right;
            &:first-child {
                margin-top:0px;
            }
        }
        ul {
            clear:both;
            margin:0px;
            padding:0px;
            li {
                padding-bottom:5px;

                a.btn {
                    color: white;
                    background: $color_1;
                    padding: 3px 10px;
                    display: inline-block;
                }
            }
        }
    }
    #content {
        padding:$main_padding $main_padding $main_padding $main_padding;
        h3 {
            margin-bottom:10px;
        }
        h3+p {
            margin-top:10px;
        }
        h3+h4 {
            margin-top:0px;
        }
        h4 {
            margin-bottom:6px;
        }
        h4+p {
            margin-top:6px;
        }
        em {
            font-weight:normal;
        }
        .pre {
            background:#ddd;
            font-family: "droid-sans-mono", monospace, serif;
            font-size: 0.8em;
            padding:2px;
        }

        .social_links {
            margin-top:10px;
        }
    }
    h2:first-of-type {
        margin-top:0px;
    }
}
footer {
    clear:both;
    border-top: 2px solid $color_2;
    padding:10px 0px;

    .powered_by {
        float:right;
    }
}

.stButton>span {
    box-sizing: content-box;
}

@import "blog_comments.css.scss";
@import "blog_posts.css.scss";
@import "pages.css.scss";
@import "projects.css.scss";*/
