// Place all the styles related to the blog_posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#main #content {
    #blog_post {
        h2:first-child {
            margin-bottom:0px;
        }
        .byline {
            font-size:15px;
        }
    }

    #blog_posts {
        .blog_post {
            color:#000;
            h3 {
                margin-bottom:10px;
                border-bottom:1px solid $color_2;
                text-shadow: 0px 1px 1px #ccc;
            }
            .read_more {
                display:block;
                margin-top:10px;
                color:$color_1;
            }
        }
    }
}