// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
    width:100%;
    tr {
        th, td {
            border:1px solid $color_2;
            padding:8px;
        }
        th {
            text-align:left;
            background:$color_2;
            font-weight:normal;
        }
        td {
            
        }
    }
}

h4.title {
    text-decoration:underline;
}

.image {
    border:1px solid $color_1;
    display:block;
}
.image_credit {
    font-size:14px;
    padding:10px;
    text-align:center;
    background:#fff;
    border:solid $color_1;
    border-width:0px 1px 1px;
}