$width: 1000px;
$nav_width: 220px;
$nav_border_width: 0px;
$nav_padding: 20px;
$main_padding: 30px;
$content_width: $width - $nav_width - $nav_border_width - $main_padding;

$font-family: "freight-sans-pro";

$color_1: #680148;
$color_2: #7DB4B5;
$color_3: #E0EFF1;
