!!! 5
%html
    %head
        %title= html_title
        =stylesheet_link_tag "application", :media => "all"
        =javascript_include_tag "application"
        =csrf_meta_tags
    
    %body
        %header
            .inner
                %h1 iHiD - Home of Jeremy Walker
        #header_shadow
        #main
            %nav
                %h3 Projects
                =render "projects/nav"
            
            #content
                =yield
