!!! 5
%html
    %head
        %title iHiD
        =stylesheet_link_tag "application", :media => "all"
        =javascript_include_tag "application"
        =csrf_meta_tags
    
    %body
        %h1 iHiD
        =yield
        